
<div class="container">
    <div class="row">
        <div class="bg-success">
<h1>Insert data into the table</h1>
<h3>Open Product controller</h3>
<p>Create an action method called Create. </p></div>
<img src="/imgs/createdatatodb.jpg" /></div>
<br />
    <br />
<div class="row">
         <div class="bg-success">
<h3>Add view for method Create</h3>
<p>Right click on the method and add view for create </p></div>
<img src="/imgs/createviewright.jpg" /></div>
<br />
    <br />
<div class="row">
         <div class="bg-success">
<h3>Select Razor View</h3>
<p>Click Add </p></div>
<img src="/imgs/createdatatodb2.jpg" /></div><br />
    <br />
<div class="row">
         <div class="bg-success">
<h3>Add Razor View</h3>
<p>From the dialog box that appears select the template for create from dropdown and select model class(Product). Then select DbContext class and click add. </p></div>
<img src="/imgs/createddb4.jpg" /></div><br />
    <br />
<div class="row">
         <div class="bg-success">
<h3>The View for Create method is created</h3></div>

<img src="/imgs/createcshtmlview5.jpg" /></div><br />
    <br />
<div class="row">
         <div class="bg-success">
<h3>Open Product controller</h3>
<p>Create an object for StudentDbContext _db</p>
<p>Create a constructor for ProductController and pass StudentDbContext as parameter and create object as db</p></div>
<img src="/imgs/dbctor.jpg" /></div><br />
    <br />
<div class="row">
         <div class="bg-success">
<h3>Open Product controller</h3>
<p>and create a post method for Create </p>
<p>pass Product model as a parameter with obj as its object </p>
<p>If the Model State is valid, add value to the database through model object from view </p>
<p>After that dont forget to save the changes</p></div>
<img src="/imgs/Createcshtmlfun6.jpg" /></div><br />
    <br />
<div class="row">
         <div class="bg-success">
<h3>Run the application</h3>
<p>Give values</p>
<p>Click on create</p></div>
<img src="/imgs/createproduct7.jpg" /></div><br />
    <br />
<div class="row">
         <div class="bg-success">
<h3>From the server object explorer open the database StudentDb and our table products. The inserted data will be there.</h3></div>
<img src="/imgs/Gotdata8.jpg" /><br />
    <br />
</div>
</div>
