
<div class="container">
    <div class="row">
        <h1>CSS</h1>
<p>CSS stands for Cascading Style Sheet.
            It is used for styling the HTML document</p>
            <p>Different types of Style Sheets are</p>
            <h3>Inline stylesheet</h3>
            <br />
             <p> We can use the style attribute inside HTML elements for styling a particular html element</p>
            <div class="bg-success">
            <br />
            <br />
            <p>&lt;html&gt;</p>
            <p>&lt;head&gt;</p>
            <p>&lt;title&gt;&lt;/title&gt;</p>
            <p>&lt;/head&gt;</p>
            <p>&lt;body&gt;</p>
            <p>&lt;h1 style="color:blue;" &gt;My First Heading&lt;/h1&gt;</p>
            <p>&lt;h2 style="color:Red;"&gt;My second heading&lt;/h2&gt;</p>
            <p>&lt;p&gt;My first paragraph&lt;/p&gt;</p>
            <p>&lt;/body&gt;</p>
            <p>&lt;/html&gt;</p>
            <br />
            </div>
          
            <h3>Internal stylesheet</h3>
            <br /><p>We can use a &lt;style&gt; tag inside the &lt;head&gt; tag for creating internal stylesheet </p><br/>
            <div class="bg-success">
            <p>&lt;html&gt;</p>
            <p>&lt;head&gt;</p>
            <p>&lt;style&gt;
             body {background-color: gray;}
             h1   {color: blue;}
             p    {color: red;}
             &lt;/style&gt;</p>
            <p>&lt;title&gt;&lt;/title&gt;</p>
            <p>&lt;/head&gt;</p>
            <p>&lt;body&gt;</p>
            <p>&lt;h1"&gt;My First Heading&lt;/h1&gt;</p>
            <p>&lt;h2"&gt;My second heading&lt;/h2&gt;</p>
            <p>&lt;p&gt;My first paragraph&lt;/p&gt;</p>
            <p>&lt;/body&gt;</p>
            <p>&lt;/html&gt;</p>
            </div>
            <h3>External stylesheet</h3>
            
            <p>As the name specifies, we can create an external stylesheet by creating a .css file outside the html document. Then we can use this css file inside the html document by using &lt;link&gt; element</p>
       <div class="bg-success">
            <p>&lt;html&gt;</p>
            <p>&lt;head&gt;</p>
            <p>&lt;link rel="stylesheet" href="styles.css"&gt;</p>
            <p>&lt;title&gt;&lt;/title&gt;</p>
            <p>&lt;/head&gt;</p>
            <p>&lt;body&gt;</p>
            <p>&lt;h1&gt;My First Heading&lt;/h1&gt;</p>
            <p>&lt;h2&gt;My second heading&lt;/h2&gt;</p>
            <p>&lt;p&gt;My first paragraph&lt;/p&gt;</p>
            <p>&lt;/body&gt;</p>
            <p>&lt;/html&gt;</p>  
        </div>
            </div>
            </div>