
@{
    ViewData["Title"] = "Html";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <h3>HTML</h3>
         <p>HTML stands for HyperText Markup Language.
            HTML is the building block of a webpage</p>
            <p>HTML consist of elements known as Tags.
            HTML is not case sensitive</p>
            <p>HTML Starts With &lt;html&gt;Tag
            HTML Ends With &lt;/html&gt; Tag</p>
            <div class="bg-success">
            <h4> Basic Syntax of HTML</h4>
            <p>&lt;html&gt;</p>
            <p>&lt;head&gt;</p>
            <p>&lt;title&gt;
            &lt;/title&gt;</p>
            <p>&lt;/head&gt;</p>
            <p>&lt;body&gt;
            &lt;/body&gt;</p>
            <p>&lt;/html&gt;</p>
            </div>
            <br />
            <br />
           <h3> Text editor for writing Html Code</h3>
           <br />
           <br />
           <p> We can use any text editor for writing HTML code. For example, we can use Notepad, visual studio, visual studio code, dreamweaver,sublime or any other text editor.</p>
           <p>Html file has the file extension of .html. for example if we want to save an html file as book in notepad, then save the file as book.html</p>
           <h3>OTHER HTML elements or TAGS</h3>
           <div class="bg-success">
           <h5 >Heading Tags</h5>
           <p>1.&lt;h1&gt;&lt;/h1&gt; This is the biggest heading tag among other heading tags. As i said earlier html is not case sensitive. so we can write h1 start and closing tags as &lt;H1&gt;&lt;/H1&gt; also
           <p>2.&lt;h2&gt;&lt;/h2&gt;</p>
           <p>3.&lt;h3&gt;&lt;/h3&gt;</p>
           <p>3.&lt;h4&gt;&lt;/h4&gt;</p>
           <p>3.&lt;h5&gt;&lt;/h5&gt;</p>
            </div>
            <h3>Paragraph tag</h3>
            <p>&lt;p&gt;&lt;/p&gt; denotes the paragraph tag</p>
            <h3>Division tag</h3>
            <p>&lt;div&gt;&lt;/div&gt; denotes the Division tag</p>
             <h3>Marquee tag</h3>
            <p>Marguee tag is used for scrolling the text &lt;marquee&gt;&lt;/marquee&gt; we can also set its direction to vertical or horizontal</p>
           <h3>HTML Comment Tag</h3>
           <p>Html comment tag is used to write something inside program as a note, but it won't be compiled or executed as a part of program</p>
           <p>&lt;!-- Write comments here --&gt;</p>
            <h3>Example program</h3>
            <div class=bg-success>
            <p>&lt;html&gt;</p>
            <p>&lt;head&gt;</p>
            <p>&lt;title&gt;&lt;/title&gt;</p>
            <p>&lt;/head&gt;</p>
            <p>&lt;body&gt;</p>
            <p>&lt;h1&gt;My First Heading&lt;/h1&gt;</p>
            <p>&lt;h2&gt;My second heading&lt;/h2&gt;</p>
            <p>&lt;p&gt;My first paragraph&lt;/p&gt;</p>
            <p>&lt;/body&gt;</p>
            <p>&lt;/html&gt;</p>

            </div>
            <p>Open notepad ,then copy and paste above code and save the document as sample.html. open the saved file location. You can see that the saved file icon changed as default browser icon. double click on it to run the file. You can see the output in browser</p>
            </div>
            </div>