
@{
    ViewData["Title"] = "Netcoreprojects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
    <br/>
<div class="row">
    
    <h3>.Net Core Projects </h3>
    
    <br/>
    <br/>
   
   <br/>
    <div class="col-md-4">
        
       <iframe width="560" height="315" src="https://www.youtube.com/embed/zQsTq6YG4Wc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        </div>
        <br/>
         
    <br/>
    <br/>
   
   <br/>
    
    <br/>
    <br/>
   
   <br/>