
@{
    ViewData["Title"] = "Netcore3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
<h3>How to add Model Class</h3>
Step 1: Right click on the Models folder
Step 2: Select Add -> New Item
<img src="/img/models.jpg" />
From the window that appears select Class and give any name. And click Add button
<img src="/img/model2.jpg" />
The model class will be created
<img src="/img/model3.jpg" />
Give some data to Model class
<img src="/img/modeldata.jpg" />

<div class="container">
  
  <ul class="pagination">
    <li><a asp-controller="home" asp-action="Netcore">1</a></li>
    <li><a asp-controller="home" asp-action="Netcore2">2</a></li>
    <li><a asp-controller="home" asp-action="Netcore4">3</a></li>
    <li><a asp-controller="home" asp-action="Netcore3">4</a></li>
    
  </ul>
</div>
</div>