
@{
    ViewData["Title"] = "Netcore4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h3>Add a View</h3>
     <br/>
    <br />
    <p>Open ProductController</p>
    <p>We can see there is a default method called Index </p>
   
    <br/>
     <img src="/img/newview2.jpg"/>
     <br />
     <br />
     <br />
      <p>For creating view for the Index method there are various ways. First way is to right click on the Index method </p>
      <br />
      <br />
       <img src="/img/view1.jpg"  />
       <br />
       <br>
       <h3>Created View</h3>
       <br />
       <br />
       <img src="/img/finalview.jpg"/>
      <div class="container">
  
  <ul class="pagination">
    <li><a asp-controller="home" asp-action="Netcore">1</a></li>
    <li><a asp-controller="home" asp-action="Netcore2">2</a></li>
    <li><a asp-controller="home" asp-action="Netcore4">3</a></li>
    <li><a asp-controller="home" asp-action="Netcore3">4</a></li>
    
  </ul>
</div>
</div>

