
@{
    ViewData["Title"] = "Netcore2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <h3>How to Add Controller</h3>
    
    <br/>
    <br />
    <br/>
  <p> Step1: Right click on controllers folder in the created project</p>
   <p>Step 2: Select Add-> Controller</p>
    <br/>
    <br />
    <br/>
<img src="/img/addcontroller.jpg" />
     <br/>
    <br />
    <br/>
   <p> From the dialog box appears, select MVC Controller-Empty </p>
    <p>Click on Add button</p>
     <br />
    <br/>
    <img src="/img/controlleraddsecondpage.jpg" />
    <br/>
    <br />
    <br/>
   <p> From the dialog box appears, Give controller name(ProductController). Controller name always end with Controller </p>
    <p>Click on Add button</p>
     <br/>
    <br />
    <br/>
     <img src="/img/controllernamegiven.jpg" />
     <br/>
    <br />
    <br/>
     <br/>
    <br />
    <br/>
    
     
<div class="container">
  
  <ul class="pagination">
    <li><a asp-controller="home" asp-action="Netcore">1</a></li>
    <li><a asp-controller="home" asp-action="Netcore2">2</a></li>
   <li><a asp-controller="home" asp-action="Netcore4">3</a></li>
    <li><a asp-controller="home" asp-action="Netcore3">4</a></li>
    
  </ul>
</div>
</div>